# Общие игнорируемые файлы
__pycache__/
*.py[cod]
*.pyo

# Игнорируем виртуальные окружения
.venv/
.venv
env/
venv/

# Файлы конфигурации
*.cfg
*.ini
*.toml

# Логи и временные файлы
*.log
*.tmp
*.bak
*.swp
.DS_Store

# Параметры IDE (например, для PyCharm)
.idea/
.vscode/
